  @{
  Layout = "_Layout";
}

@model University.Models.Student

<h2>Are you sure you want to delete this student?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

@using (Html.BeginForm())
{
    <input class="myCssClass" type="submit" value="Delete" />
}

@Html.ActionLink("Back to List", "Index", null, null , new {@class="myCssClass"})

@Html.ActionLink("Back to List", "Index", null, null , new {@class="myCssClass"})  